// _colors.scss

// Load modules
@use "sass:map";

// Color palette
$palette: (
  p1: #424c50ff,
  p2: #7f8d8bff,
  p3: #b3bebbff,
  p4: #e7efebff,
  p5: #fefefeff,
  s1: #ff4c00ff,
  s2: #ff9b70ff,
  s3: #ffd4c2ff,
  s4: #f0c239ff,
  s5: #f4d67bff,
);

// Font colors
$font: (
  p1: #000000ff,
  p2: map.get($palette, p1),
  p3: #484848ff,
  pa: #0066ccff,
  s1: #fdfdfdff,
  s2: #ffffffff,
  s3: map.get($palette, s4),
  sa: #2997ffff,
);

// Gradients
$gradient: (
  top:
    linear-gradient(
      0deg,
      map.get($palette, p2),
      map.get($palette, p3),
      map.get($palette, p4),
      map.get($palette, p5)
    ),
  right:
    linear-gradient(
      90deg,
      map.get($palette, p2),
      map.get($palette, p3),
      map.get($palette, p4),
      map.get($palette, p5)
    ),
  bottom:
    linear-gradient(
      180deg,
      map.get($palette, p2),
      map.get($palette, p3),
      map.get($palette, p4),
      map.get($palette, p5)
    ),
  left:
    linear-gradient(
      270deg,
      map.get($palette, p2),
      map.get($palette, p3),
      map.get($palette, p4),
      map.get($palette, p5)
    ),
  top-right:
    linear-gradient(
      45deg,
      map.get($palette, p2),
      map.get($palette, p3),
      map.get($palette, p4),
      map.get($palette, p5)
    ),
  bottom-right:
    linear-gradient(
      135deg,
      map.get($palette, p2),
      map.get($palette, p3),
      map.get($palette, p4),
      map.get($palette, p5)
    ),
  top-left:
    linear-gradient(
      225deg,
      map.get($palette, p2),
      map.get($palette, p3),
      map.get($palette, p4),
      map.get($palette, p5)
    ),
  bottom-left:
    linear-gradient(
      315deg,
      map.get($palette, p2),
      map.get($palette, p3),
      map.get($palette, p4),
      map.get($palette, p5)
    ),
  radial:
    radial-gradient(
      map.get($palette, p2),
      map.get($palette, p3),
      map.get($palette, p4),
      map.get($palette, p5)
    ),
);
