// App.scss
// App styles

// Load modules
@use 'fonts' as font;
@use "sass:map";

// Styles

body {
  margin: 0;
}

code {
  font-family: font.$mono;
}

.main-content {
  padding: 1rem 3rem;
}

a {
  color: #0066cc;
}
