// App.scss
// App styles

// Load modules
@use "sass:map";
@use 'fonts' as font;
@use 'colors' as color;

// Styles

body {
  margin: 0;
}

code {
  font-family: font.$mono;
}

.main-content {
  font-family: font.$body;
}

a {
  color: map.get(color.$font, pa);
}
