// Header.scss

// Import modules
@use 'variables' as var;
@use 'fonts' as font;
@use 'colors' as color;
@use 'extend';
@use "sass:map";

.header {
  min-height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: map.get(color.$palette, p2);
  color: map.get(color.$font, s1);
  font-family: font.$title;
  font-size: calc(10px + 2vmin);

  .masthead {
    ul.profile-icons {
      list-style-type: none;
      text-align: center;
      margin: 1rem;
      padding: 0;

      li {
        font-size: 2rem;
        display: inline;
        padding: 0.25rem 0.5rem;

        a {
          @extend %a-no-text-decoration-secondary;
        }
      }
    }
  }

  .scroll-down {
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem;

    a {
      @extend %a-no-text-decoration-secondary;
    }
  }
}
